name: Container build

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read

concurrency:
  group: ${{ github.ref_name }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  container:
    name: ${{ matrix.container }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        container:
          - foreman
          - foreman-proxy
    steps:
      - uses: actions/checkout@v6
      - name: Build ${{ matrix.container }} container
        run: make build PROJECT=${{ matrix.container }}
      - name: Test ${{ matrix.container }} container
        if: matrix.container == 'foreman-proxy'
        run: |
          cat >settings.yml << EOF
          :settings_directory: /etc/foreman-proxy/settings.d
          :http_port: 8080
          EOF
          podman run --rm --detach --security-opt label=disable --volume ./settings.yml:/etc/foreman-proxy/settings.yml --publish 8080:8080 --health-cmd 'curl --fail http://localhost:8080/version' --health-interval=10s --name foreman-proxy quay.io/foreman/foreman-proxy:nightly
          timeout 30 podman wait --condition healthy foreman-proxy
          curl --fail http://127.0.0.1:8080/version
          curl --fail http://127.0.0.1:8080/features
          podman stop foreman-proxy
